# Machine Learning dependencies
# PyTorch with CUDA 12.5 support
torch @ https://download.pytorch.org/whl/cu125/torch-2.6.0%2Bcu125-cp311-cp311-linux_x86_64.whl

# Segment Anything Model
segment-anything-py
